<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    
    <main class="center">
        <div class="container_center">
            <h1>Lista de Clientes</h1>
           
            <% clientes.forEach(cliente => { %>
                <ul>
                    <li><%= cliente.name%></li>
                    <li><%= cliente.email%></li>
                    <li><%= cliente.endereco%></li>
                    <li><%= cliente.telefone%></li>
                </ul>
                <hr>
            <% }) %>
           

        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>