<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

    <main class="center">
        <div class="container_center">
            <h1>Lista de Produtos</h1>
           
            <% produtos.forEach(produto => { %>
                <ul>
                    <li><%= produto.name%></li>
                    <li><%= produto.preco%></li>
                    <li><a href="/excluirproduto/<%= produto._id %> ">Excluir Produto</a></li>

                </ul>
                <hr>
            <% }) %>
           

        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>