<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

    <main class="center">
        <div class="container_center">
            <h1>Lista de Clientes</h1>
           
            <% clientes.forEach(cliente => { %>
                <ul class="boxes-list">
                    <li>Cliente: <strong><%= cliente.name%></strong></li>
                    <li>E-Mail: <%= cliente.email%></li>
                    <li>Endereço: <%= cliente.endereco%></li>
                    <li>Telefone: <%= cliente.telefone%></li>
                    <li><a href="/excluircliente/<%= cliente._id %> ">Excluir cliente</a></li>
                </ul>
                <hr>
            <% }) %>
           

        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>